// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  color: #654243;
  background-color: #ececec;
}

ol,
ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #e5e5e5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block,
.control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: auto;
  height: 80px;
}

.name {
  margin-top: 2px;
}

.view-content {
  margin-top: 2rem;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 600px;
  margin-top: 2rem;
}

.carousel-item img {
  width: 400px;
  height: 600px;
}

.articles h3 {
  padding: 0;
  margin-top: 5rem !important;
  text-transform: uppercase !important;
  text-align: center;
}

.news-articles {
  padding: 1rem;
  margin: 1rem;

  .view-field-title h3 {
    padding-bottom: 1rem;
  }
}

.item {
  padding-left: 0 !important;
}

.item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    background-color: #fff;
    list-style-type: none;
    padding: 2rem;
    margin: 2rem 0;
  }
}
